[Unit]
Description=Init script for nilavu
After=network.target
After=runlevel2.target
After=runlevel3.target
After=runlevel4.target
After=runlevel5.target
[Service]
EnvironmentFile=/var/lib/megam/megamnilavu.env
ExecStartPre=chdir /usr/share/megam/megamnilavu/
ExecStart=bundle exec passenger start -a 127.0.0.1 -p 8080 -d -e production
ExecReload=/bin/kill -s $MAINPID
KillMode=process






