[Unit]
Description=Init script for nilavu
After=network.target
After=runlevel2.target
After=runlevel3.target
After=runlevel4.target
After=runlevel5.target
[Service]
EnvironmentFile=/var/lib/megam/env.sh
WorkingDirectory=/usr/share/megam/megamnilavu/
ExecStart=/bin/bundle exec /usr/local/bin/passenger start -a 127.0.0.1 -p 8080 -d -e production
KillMode=process
