[Unit]
Description=The engine for Megam
After=network.target
After=runlevel2.target
After=runlevel3.target
After=runlevel4.target
After=runlevel5.target
[Service]
ExecStart=/usr/share/megam/vertice/bin/vertice -v start
KillMode=process
