#Place the megam gulpd here /etc/systemd/system/verticegulpd.service
[Unit]
Description=Vertice Gulpd Agent
After=network.target
After=runlevel2.target
After=runlevel3.target
After=runlevel4.target
After=runlevel5.target
[Service]
EnvironmentFile=/var/lib/megam/env.sh
ExecStart=/usr/share/megam/verticegulpd/bin/gulpd start --config /var/lib/megam/gulp/gulpd.conf
KillMode=process
