[Unit]
Description=Megam nilavu
After=network.target
After=runlevel2.target
After=runlevel3.target
After=runlevel4.target
After=runlevel5.target
[Service]
Type=forking
WorkingDirectory=/usr/share/megam/verticenilavu
EnvironmentFile=/var/lib/megam/env.sh
ExecStart=/usr/local/bin/bundle exec passenger start -a 127.0.0.1 -p 8080  -d -e development
ExecStopPost=/usr/local/bin/passenger stop --pid-file passenger.8080.pid
KillMode=mixed
