#Place the vertice here /etc/systemd/system/verticevnc.service
[Unit]
Description=verticevnc
After=network.target
After=runlevel2.target
After=runlevel3.target
After=runlevel4.target
After=runlevel5.target
[Service]
EnvironmentFile=/var/lib/megam/env.sh
ExecStart=node /usr/share/megam/verticevnc/vnc_monitor.js
KillMode=process
