[Unit]
Description=Megam nsqd
After=network.target
After=runlevel2.target
After=runlevel3.target
After=runlevel4.target
After=runlevel5.target
[Service]
ExecStart=/usr/share/megam/nsqd/bin/nsqd --lookupd-tcp-address=127.0.0.1:4160
KillMode=process
