#Place the megamd here /etc/systemd/system/megamd.service
[Unit]
Description=Megamd daemon
After=network.target
After=runlevel2.target
After=runlevel3.target
After=runlevel4.target
After=runlevel5.target
[Service]
EnvironmentFile=/var/lib/megam/env.sh
ExecStart=/usr/share/megam/megamd/bin/megamd -v start 
KillMode=process
