Package: megamcommon
Version: 0.9
License: Apache
Vendor: Megam Systems
Architecture: amd64
Maintainer: <rajthilak@megam.io>
Installed-Size: 14
Section: default
Priority: extra
Homepage: https://www.megam.io/
Description: Megam common an empty package which just creates an user megam and group megam.
