Package: riak
Version: 2.1.1-1
Architecture: amd64
Maintainer: Basho Package Maintainer <packaging@basho.com>
Installed-Size: 78201
Depends: libc6 (>= 2.17), libgcc1 (>= 1:4.1.1), libpam0g (>= 0.99.7.1), libssl1.0.0 (>= 1.0.0), libstdc++6 (>= 4.6), libtinfo5, adduser, logrotate, sudo
Section: net
Priority: extra
Homepage: http://basho.com
Description: Riak is a distributed data store
  Riak is a distributed data store
