[Unit]
Description=Megam Gulp daemon
After=local-fs.target network.target
Requires=network.target
Wants=local-fs.target

[Service]
User=root
Group=root
EnvironmentFile=/var/lib/megam/env.sh
ExecStart= /usr/share/megam/megamgulpd/bin/gulpd -v start --config /usr/share/megam/megamgulpd/conf/gulpd.conf
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target

